@model IEnumerable<PusheenCustomExportCsv.Web.Models.Pusheen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a type="button" class="btn btn-outline-primary" asp-action="Create">Create New</a>
    <a type="button" class="btn btn-primary" asp-controller="Pusheen" asp-action="ExportCsv">Export to CSV</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FavouriteFood)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuperPower)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FavouriteFood)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuperPower)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-controller="Home" asp-action="Index">Back to Homepage</a>
